@CHARSET "UTF-8";

.body{margin:0;padding:0;}
.body_header{ color:blue; border-bottom:2px solid black; background-color:#ccc; text-align:center; height:70px; width:100%; margin-bottom:2px;}
#title{ padding:10px;font-size:40px;}
#header_right_bottom{position:absolute;right:30px;top:60px;;}
#resourcearea{width:100%;}
.box{width:49%;border-bottom:2px solid blue;align:center;height:140px;}
.evenbox{float:left; border-right:2px solid green;}
.oddbox{float:right;}
.twodimleft{float:left;}
.twodimleft{float:left;}
.fileinfo{float:left;margin-top:15px;margin-left:50px;}

